<ion-row>
  <ion-col sizeMd="6" sizeLg="8"  sizeXs="4" class="nome">
    <h2>
      <ion-icon name="code-outline"></ion-icon>
      Vinicius Sousa
      <ion-icon name="code-slash-outline"></ion-icon>
    </h2>
  </ion-col>
  <ion-col sizeMd="2" sizeLg="1"  sizeXs="2">
    <h3>
      <a href="#">Projetos</a>
    </h3>
  </ion-col>
  <ion-col sizeMd="2" sizeLg="1"  sizeXs="2">
    <h3>
      <a href="#">Curriculo</a>
    </h3>
  </ion-col>
  <ion-col sizeMd="2" sizeLg="1"  sizeXs="2">
    <h3>
      <a href="#">Contato</a>
    </h3>
  </ion-col>

</ion-row>